<div class="container">
  <div class="row">


    <div class="col">

      <div class="contenido" *ngFor="let i of info">

        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{i.nombre}}</mat-card-title>
            <mat-card-subtitle>{{i.ubicacion}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{i.img}}" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              {{i.atl}}
            </p>
            <p>
              Codigo Postal = {{i.codigoPostal}}
            </p>            
            <p>
              Poblacion = {{i.poblacion}}
            </p>
            
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
      </mat-card>
    
    </div>
    
  </div>
  </div>
</div>